.meme-image-container{
  position: relative;
  margin-left: 37px;
  margin-top: 32px;
  max-height: 268px;
  max-width: 477px;
}
.meme-edit{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.ip-container{
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  margin-left: 37px;
}

.toptext,
.bottomtext{
  font-size: 14px;
}

.top-input,
.bottom-input{
  padding: 7.35px 10.64px 7.35px 10.64px;
  width: 222px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.4px;
}

.bottom-ip-container{
  margin-left: 33px;
}

.new-meme-button{
  margin-top: 19px;
  margin-left: 37px;
  width: 477px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, #711F8D 0%, #A818DA 100%);
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.text-overlay{
  position: absolute;
  color: white;
  font-size: 32px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 1px black;
  left: 50%; 
  transform: translateX(-50%);
  white-space: nowrap;
}

.top-text{
  top: 10px;
}

.bottom-text{
  bottom: 10px;
}